.app {
    display: flex;
    flex-direction: column;

    width: 100%;
    height: 100%;
}

.header {
    box-sizing: border-box;

    width: 100%;
    padding: 1rem 1rem;

    font-size: 1.5rem;
    color: #ffffff;
    background-color: #2e2e2e;
}

.viewer {
    overflow-y: auto;
    box-sizing: border-box;

    width: 100%;
    height: 100%;
    flex: 1;
    padding: 0 1rem 1rem 1rem;

    h1 {
        font-size: 1.8rem;
        text-decoration: underline;
    }

    h2 {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1rem;
    }

    pre {
        box-sizing: border-box;

        padding: 0.5rem;

        color: #ffffff;
        background-color: #2e2e2e;
    }

    code {
        font-family: 'Inconsolata', monospace;
    }
}
